ion-icon {
  padding: 3px;;
}

ion-tab-button {
  // --padding-top: 10 px;
  // --padding-end:200px;
  margin-left: 50px;
  margin-right: 60px;
  --color-selected: #3dc2ff;
}

ion-tab-bar{
  height: 80px;
}