<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
</head>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4">
        <ion-searchbar
          [(ngModel)]="seachText"
          placeholder="Pretraga"
        ></ion-searchbar>
      </ion-col>
      <ion-col size-lg="1">
        <ion-fab-button (click)="onAddPublisher()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8">
        <div class="ion-text-center">
          <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8" class="ion-align-items-center">
        <table
          *ngIf="!isLoading"
          class="table table-hover"
        >
          <colgroup>
            <col span="1" style="width: 10%;" />
            <col span="1" style="width: 20%;" />
            <col span="1" style="width: 25%;" />
            <col span="1" style="width: 25%;" />
            <col span="1" style="width: 10%;" />
            <col span="1" style="width: 10%;" />
          </colgroup>

          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Naziv</th>
              <th scope="col">Adresa</th>
              <th scope="col">Mejl</th>
              <th scope="col">Vebsajt</th>
              <th scope="col">Izmena</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let publisher of publishers | searchPublishers: seachText | paginate: {itemsPerPage: itemsPerPage, currentPage: currentPage}; index as i"
            >
              <td>{{(currentPage-1)*itemsPerPage+i+1}}</td>
              <td>{{publisher.name}}</td>
              <td>{{publisher.address}}</td>
              <td>{{publisher.email}}</td>
              <td>
                <a href="{{publisher.siteUrl}}" target="_blank">
                  <div *ngIf="publisher.siteUrl!=null && publisher.siteUrl!=''" style="height: 100%; width: 100%;">
                    <ion-fab-button size="small">
                      <ion-icon name="open-outline" size="small"></ion-icon>
                    </ion-fab-button>
                  </div>
                </a>
              </td>
              <td class="td-fab-button">
                <ion-fab-button size="small" (click)="onEditPublisher(publisher)">
                  <ion-icon name="pencil" size="small"></ion-icon>
                </ion-fab-button>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center" *ngIf="!isLoading">
        <ion-col style="text-align: center;" size-lg="8">
          <pagination-controls
            previousLabel="Prethodna"
            nextLabel="Sledeca"
            (pageChange)="currentPage=$event"
          ></pagination-controls>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
