<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  />
</head>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size-lg="4" offset-lg="4">
        <ion-searchbar
          [(ngModel)]="searchText"
          placeholder="Pretraga po imenu i prezimenu"
          (ionInput)="onSearchTextTyped()"
        ></ion-searchbar>
      </ion-col>
      <ion-col size-lg="1">
        <ion-fab-button (click)="onAddAuthor()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8">
        <div class="ion-text-center">
          <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8">
        <table
          *ngIf="!isLoading"
          class="table table-hover"
          style="width: 100%;"
        >
          <colgroup>
            <col span="1" style="width: 3%;" />
            <col span="1" style="width: 17%;" />
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 15%;" />
            <col span="1" style="width: 50%;" />
            <col span="1" style="width: 10%;" />
          </colgroup>

          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Slika</th>
              <th scope="col">Ime</th>
              <th scope="col">Prezime</th>
              <th scope="col">Biografija</th>
              <th scope="col">Izmena</th>
            </tr>
          </thead>
          <tbody>
            <tr
              *ngFor="let author of authors | searchAuthors: searchText | paginate: {itemsPerPage: itemsPerPage, currentPage:cp}; index as i"
            >
              <td>{{itemsPerPage*(cp-1)+i+1}}</td>
              <td>
                <div class="author-img">
                  <ion-text
                    *ngIf="author.imageUrl === null || author.imageUrl === ''"
                    >Uskoro!</ion-text
                  >
                  <img
                    *ngIf="author.imageUrl !== null && author.imageUrl !== ''"
                    [src]="author.imageUrl"
                  >
                </div>
              </td>
              <td>{{author.firstName}}</td>
              <td>{{author.lastName}}</td>
              <td class="author-bio">{{author.biography}}</td>
              <td>
                <div class="td-fab-button">
                  <ion-fab-button size="small" (click)="onEditAuthor(author)">
                    <ion-icon name="pencil" size="small"></ion-icon>
                  </ion-fab-button>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center" *ngIf="!isLoading">
      <ion-col style="text-align: center;" size-lg="8">
        <pagination-controls
          previousLabel="Prethodna"
          nextLabel="Sledeća"
          (pageChange)="cp=$event"
        ></pagination-controls>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
