<ion-header>
  <ion-toolbar>
    <ion-title>Narudzbenica: {{order.orderIdentifier}}</ion-title>
    <ion-buttons slot="primary">
      <ion-button (click)="onCancel()">
        <ion-icon name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-row class="ion-justify-content-center">
    <ion-col size-md="1" class="order-info header"
      ><ion-label>#</ion-label></ion-col
    >
    <ion-col size-md="5" class="order-info-book-label header"
      ><ion-label>Knjiga</ion-label></ion-col
    >
    <ion-col size-md="2" class="order-info header"
      ><ion-label>Cena</ion-label></ion-col
    >
    <ion-col size-md="2" class="order-info header"
      ><ion-label>Kolicina</ion-label></ion-col
    >
    <ion-col size-md="2" class="order-info header"
      ><ion-label>Iznos</ion-label></ion-col
    >
  </ion-row>
  <ion-row
      *ngFor="let item of order.items | paginate: {itemsPerPage: itemsPerPage, currentPage:cp}; index as i"
      class="ion-justify-content-center"
    >
      <ion-col size-md="1" class="order-info"
        ><ion-label>{{itemsPerPage*(cp-1)+i+1}}</ion-label></ion-col
      >

      <ion-col size-md="5" class="order-info-book">          
          <ion-item
          class="ion-no-padding"
          lines="none">
          <img
            *ngIf="item.book.imageUrl !== null && item.book.imageUrl !== ''"
            [src]="item.book.imageUrl"
            slot="start"
          >
          <ion-label class="ion-text-wrap">{{item.book.title}}</ion-label>
        </ion-item>

      </ion-col>

      <ion-col size-md="2" class="order-info"><ion-label>{{item.book.price | currency: 'EUR'}}</ion-label></ion-col>
      <ion-col size-md="2" class="order-info"><ion-label>{{item.quantity}}</ion-label></ion-col>
      <ion-col size-md="2" class="order-info"><ion-label>{{item.itemPrice | currency: 'EUR'}}</ion-label></ion-col>
    </ion-row>
</ion-content>
<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row class="ion-justify-content-center">
        <ion-col style="text-align: center" size-lg="7">
          <pagination-controls
            previousLabel="Prethodna"
            nextLabel="Sledeca"
            (pageChange)="cp=$event"
          ></pagination-controls>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
