<ion-content>
  <app-cart-header></app-cart-header>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="8">
        <div class="ion-text-center">
          <ion-spinner *ngIf="isLoading" color="primary"></ion-spinner>
        </div>
      </ion-col>
    </ion-row>
    
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="1" class="cart-item-info header"
        ><ion-label>#</ion-label></ion-col
      >
      <ion-col size-lg="3" class="cart-item-info-book header"
        ><ion-label>Knjiga</ion-label></ion-col
      >
      <ion-col size-lg="1" class="cart-item-info header"
        ><ion-label>Cena</ion-label></ion-col
      >
      <ion-col size-lg="1" class="cart-item-info header"
        ><ion-label>Kolicina</ion-label></ion-col
      >
      <ion-col size-lg="1" class="cart-item-info header"
        ><ion-label>Ukupno</ion-label></ion-col
      >
      <ion-col size-lg="1" class="cart-item-info header"
        ><ion-label>Brisanje</ion-label></ion-col
      >
    </ion-row>

    <ion-row *ngIf="cartItems === null || cartItems.length === 0" 
    class="ion-justify-content-center ion-padding">
      <ion-col size-lg="8">
        <div class="ion-text-center">
          <ion-title>Vasa korpa je trenutno prazna.</ion-title>
        </div>
      </ion-col>
    </ion-row>


    <!-- <ion-row
      *ngFor="let item of cartItems | paginate: {itemsPerPage: itemsPerPage, currentPage:cp}; index as i"
      class="ion-justify-content-center"
    > -->
    <ion-row
      *ngFor="let item of cartItems; index as i"
      class="ion-justify-content-center"
    >
      <ion-col size-lg="1" class="cart-item-info"
        ><ion-label>{{itemsPerPage*(cp-1)+i+1}}</ion-label></ion-col
      >

      <ion-col size-lg="3" class="cart-item-info-book">
        <ion-item
          class="ion-no-padding"
          [routerLink]="['/', 'home', 'books', item.book.id]"
          lines="none">
          <img
            *ngIf="item.book.imageUrl !== null && item.book.imageUrl !== ''"
            [src]="item.book.imageUrl"
            style="width: 70px"
            slot="start"
          >
          <ion-label class="ion-text-wrap">{{item.book.title}}</ion-label>
        </ion-item>
      </ion-col>

      <ion-col size-lg="1" class="cart-item-info"><ion-label>{{item.book.price | currency: 'EUR'}}</ion-label></ion-col>
      <!-- <ion-col size-lg="1" class="cart-item-info"><ion-label>{{item.quantity | number}}</ion-label></ion-col> -->
      <ion-col size-lg="1" class="cart-item-info">
        <div class="cart-quantity-counter">
          <ion-item lines="none" class="ion-no-padding">
            <ion-icon name="remove-circle" class="ion-no-margin decrement-btn" (click)="decrementQty(item)" slot="start" color="primary"></ion-icon>
            <input type="number" min="1" step="1" [value]="item.quantity" [(ngModel)]="item.quantity" (change)="onItemQuantityChanged(item)">
            <ion-icon name="add-circle" class="ion-no-margin increment-btn" (click)="incrementQty(item)" slot="end" color="primary"></ion-icon>
          </ion-item>
        </div>
      
      </ion-col>
      
      
      <ion-col size-lg="1" class="cart-item-info"><ion-label>{{(item.book.price*item.quantity) | currency: 'EUR'}}</ion-label></ion-col>
      <ion-col size-lg="1" class="cart-item-info">
        <ion-fab-button size="small" (click)="onDeleteItem(item)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-fab-button>
      </ion-col>
    </ion-row>
    
    
  </ion-grid>
</ion-content>

<ion-footer class="ion-no-border">
  <ion-toolbar>
    <ion-grid>
      <ion-row *ngIf="cartItems !== null && cartItems.length !== 0" class="ion-justify-content-center">
        <ion-col size-lg="2" class="total-price-col"><ion-label>Ukupno total:</ion-label></ion-col>
        <ion-col size-lg="4" class="total-price-row-empty-col"></ion-col>
        <ion-col size-lg="1" class="total-price-col">{{totalPrice | currency: 'EUR'}}</ion-col>
        <ion-col size-lg="1" class="total-price-row-empty-col"> </ion-col>
      </ion-row>
      <ion-row *ngIf="cartItems !== null && cartItems.length !== 0" class="ion-justify-content-center">
        <ion-col size-lg="2">
          <ion-button size="block" (click)="onBuyItems()" 
          [disabled]="cartItems === null || cartItems.length <= 0">Kupovina</ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>
