<ion-content>
  <app-book-detail-header></app-book-detail-header>
  <ion-grid class="ion-padding-top">
    <!-- header -->
    <ion-row class="ion-justify-content-center">
      <!-- spinner -->
      <ion-col size-lg="4" style="text-align: center;">
        <ion-spinner color="primary" *ngIf="isLoading"></ion-spinner>
      </ion-col>
    </ion-row>
    <!-- book details -->
    <ion-row *ngIf="!isLoading" class="ion-justify-content-center book-details">
      <!-- book image -->
      <ion-col size-lg="3" class="book-img">
        <img [src]="bookToShow.imageUrl">
      </ion-col>
      <!-- book info -->
      <ion-col size-lg="3" class="book-info">
        <ion-label>
          <h2 class="authors-names">{{bookToShow.authorsNames}}</h2>
          <h1 class="ion-padding-bottom">{{bookToShow.title | uppercase}}</h1>
        </ion-label>
        <ion-label>
          <p>Kategorije: {{bookToShow.genresNames}}</p>
          <p>ISBN: {{bookToShow.isbn}}</p>
          <p>Broj strana: {{bookToShow.numberOfPages}}</p>
          <p>Godina izdanja: {{bookToShow.publicationYear}}</p>
          <p>Povez: {{bookToShow.binding}}</p>
          <!-- <p> Izdavac:
            <a href="{{bookToShow.publisher.siteUrl}}" target="_blank">{{bookToShow.publisher.name}}</a>
          </p> -->
        </ion-label>
        <h4>Cena: {{bookToShow.price | currency:'EUR':'symbol-narrow'}}</h4>
        <div class="add-to-cart">
          <div class="cart-quantity-counter">
            <ion-item lines="none" class="ion-no-padding">
              <ion-icon name="remove-circle" class="ion-no-margin decrement-btn" (click)="decrementQty()" slot="start" color="primary"></ion-icon>
              <input type="number" min="1" step="1" [value]="quantityForCart" [(ngModel)]="quantityForCart" (change)="onItemQuantityChanged()">
              <ion-icon name="add-circle" class="ion-no-margin increment-btn" (click)="incrementQty()" slot="end" color="primary"></ion-icon>
            </ion-item>
          </div>
          <ion-button (click)="onAddToCart()">
            Dodaj
            <ion-icon name="cart-outline" style="padding-left: 5px;"></ion-icon>
          </ion-button>
        </div>
      </ion-col>
      <!-- book description and authors -->
      <ion-col size-lg="6">
        <ion-segment [(ngModel)]="segment">
          <ion-segment-button value="description">
            Opis
          </ion-segment-button>
          <ion-segment-button value="authors">
            Autori
          </ion-segment-button>
          <ion-segment-button value="publisher">
            Izdavac
          </ion-segment-button>
        </ion-segment>
        <div class="segment-content" [ngSwitch]="segment">
          <ion-note *ngSwitchCase="'description'" class="ion-text-justify">
            {{bookToShow.description}}
          </ion-note>
          <ion-text *ngSwitchCase="'authors'">
            <app-author-item *ngFor="let author of bookToShow.authors" [author]="author"></app-author-item>
          </ion-text>
          <ion-text *ngSwitchCase="'publisher'">
          <div class="publisher-info">
            <ion-label>
              <ion-title class="ion-no-padding ion-padding-bottom">{{bookToShow.publisher.name}}</ion-title>
                <ion-note>
                  {{bookToShow.publisher.address}} <br>
                  {{bookToShow.publisher.email}} <br>
                  <a href="{{bookToShow.publisher.siteUrl}}" target="_blank">
                    {{bookToShow.publisher.siteUrl}}</a>
                </ion-note>
              </ion-label>
            </div>
            </ion-text>
          </div>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="!isLoading" class="ion-justify-content-center">
    </ion-row>
  </ion-grid>
</ion-content>
