// ion-col {
//   border: 1px solid orangered;
// }

.book-details {
  margin-left: 100px;
  margin-right: 100px;
}

.book-img,
.book-info {
  padding-top: 25px;
  vertical-align: middle;
}

.book-info {
  padding-left: 40px;
}
.authors-names {
  padding-top: 10px;
  padding-bottom: 10px;
}

.add-to-cart {
  // border: 1px solid green;
  display: flex;
  flex-direction: column;
  justify-content: center;

  ion-button {
    width: 50%;
  }
}

.cart-quantity-counter {
  // border: 1px solid blue;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;

  ion-item {
    font-size: 14pt;
  }

  input{
    text-align: center;
  }
}

.increment-btn {
  // margin-left: 4px;
  width: 35px;
  height: 35px;
}

.decrement-btn {
  margin-right: 12px;
  width: 35px;
  height: 35px;
}

input {
  border: none;
  width: 60px;
}

.segment-content {
  padding-top: 20px;
  padding-bottom: 20px;
}

ion-note {
  white-space: pre-line;
}

.publisher-info{
  text-align: left;
  margin-left:60px;
}