ion-item{
  max-width: 250px;
  flex-grow: 1;
}
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ion-padding {
  padding: 20px 30px !important;
}

.flex-item {
  margin-top: 10px;
}

.book-img {
  width: 150px;
  height: 200px;
}
