<ion-item [routerLink]="['books', book.id]" lines="none">
<div class="container ion-padding">
  <img class="flex-item book-img" [src]="book.imageUrl" >
  <ion-label class="flex-item" style="text-align: center;">
    <h2>{{ book.title }}</h2>
    <p>{{book.authorsNames}}</p>
  </ion-label>
  <ion-title class="flex-item" >{{book.price | currency:'EUR':'symbol-narrow'}}</ion-title>
  <ion-chip class="flex-item" color="primary" (click)="addToCart($event)">
    <ion-icon name="cart" style="padding-right: 5px;"></ion-icon>
    <ion-label>Dodaj u korpu</ion-label>
  </ion-chip>
</div>
</ion-item>
