<!-- <ion-toolbar class="ion-no-padding ion-no-margin"> -->
  <ion-row class="ion-padding header">
    <ion-col size-lg="2">
      <ion-title>Bookstore</ion-title>
    </ion-col>
    <ion-col size-lg="4"></ion-col>
    <ion-col size-lg="6">
      <div class="searchbar-col">
        <ion-searchbar placeholder="Pretraga" search-icon="book-outline" style="width: 300px" [(ngModel)]="searchText" inputmode="search" class="ion-no-padding"></ion-searchbar>
        <ion-fab-button (click)="onSearch()" class="ion-no-padding ion-no-margin">
          <ion-icon name="search-outline" class="search-icon"></ion-icon>
        </ion-fab-button>
        <!-- <ion-chip (click)="onSearch()" color="primary">
          <ion-icon name="search-outline" class="ion-no-padding ion-no-margin"></ion-icon>
        </ion-chip> -->
        <ion-chip *ngIf="!isAuthenticated" color="primary" [routerLink]="['/', 'auth']">
          <ion-icon name="person"></ion-icon>
          <ion-label>PRIJAVA</ion-label>
        </ion-chip>
        <ion-chip *ngIf="isAuthenticated" color="primary" (click)="onLogout()">
          <ion-icon name="person"></ion-icon>
          <ion-label>ODJAVI SE</ion-label>
        </ion-chip>
        <ion-chip *ngIf="userRole === 'USER'" color="primary" [routerLink]="['/', 'cart']">
          <ion-icon name="cart" class="cart"></ion-icon>
          <ion-badge color="primary">{{cartItemsCount}}</ion-badge>
        </ion-chip>
        <ion-chip *ngIf="userRole === 'ADMIN'" color="primary" [routerLink]="['/', 'admin-panel']">
          <ion-icon name="create"></ion-icon>
          <ion-label>PANEL</ion-label>
        </ion-chip>
    </div>
    </ion-col>
  </ion-row>
<!-- </ion-toolbar> -->
