<!-- <ion-toolbar class="ion-no-padding ion-no-margin"> -->
  <ion-row class="ion-padding header">
    <ion-col size-lg="2" class="ion-text-end">
      <ion-title>Bookstore</ion-title>
    </ion-col>
    <ion-col size-lg="5"></ion-col>
    <ion-col size-lg="5">
      <div class="header-buttons">
        <div class="searchbar-col">
          <ion-searchbar placeholder="Pretraga po naslovu" search-icon="book-outline" style="width: 300px" [(ngModel)]="searchText" inputmode="search" class="ion-no-padding"></ion-searchbar>
          <ion-fab-button (click)="onSearch()">
            <ion-icon name="search-outline" class="search-icon"></ion-icon>
          </ion-fab-button>
        </div>
        <ion-button *ngIf="userRole === 'USER'" color="primary" fill="clear" class="button-clear" [routerLink]="['/', 'cart']">
          <ion-icon name="cart" class="cart" slot="start"></ion-icon>
          <ion-badge color="primary">{{cartItemsCount}}</ion-badge>
        </ion-button>
        <ion-button *ngIf="userRole === 'ADMIN'" color="primary" fill="clear" class="button-clear" [routerLink]="['/', 'admin-panel']">
          <ion-icon name="create" slot="start"></ion-icon>
          <ion-label>PANEL</ion-label>
        </ion-button>
        <ion-button *ngIf="!isAuthenticated" color="primary" fill="clear" class="button-clear" [routerLink]="['/', 'auth']">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>PRIJAVA</ion-label>
        </ion-button>
        <ion-button *ngIf="isAuthenticated" color="primary" fill="clear" class="button-clear" (click)="onLogout()">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label>ODJAVI SE</ion-label>
        </ion-button>        
    </div>
    </ion-col>
  </ion-row>
<!-- </ion-toolbar> -->
