table {
  table-layout: fixed;
  width: 100%;
}

th,
td {
  text-align: center;
}

.table td {
  vertical-align: middle;
  border: none;
}

.error-label {
  font-size: 10pt;
}

ion-fab-button{
  width: 35px;
  height: 35px;
}

.td-fab-button{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

ion-margin-start{
  padding-left: 8px;
}