ion-col {
  border: 1px solid maroon;
}

.left-padding-genres {
  padding-left: 30px;
}

.books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  // align-content: space-between;
}

.pagination-row {
  text-align: center;
}

.all-books-page-part {
  text-align: center;
  // display: flex;
  // flex-direction: column;
  // justify-content: flex-start;
  // align-items: center;

  ion-list-header{
    margin-left: -35px;
  }

  .no-books-message{
    margin-top: 50px;    

    ion-label{
      font-size:20px;
      margin-left: -35px;
    }
  }
  
}
