ion-col {
  border: 1px solid maroon;
}

.left-padding {
  padding-left: 50px;
}

.left-padding-genres {
  padding-left: 60px;
}

.books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: stretch;
  flex-grow: 0;
  flex-shrink: 0;
  // align-content: space-between;
}

.pagination-row {
  text-align: center;
}

.all-books-page-part {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: flex-end;

  ion-list-header{
    margin-left: -25px;
  }
}
