<ion-content>
  <ion-grid>
    <app-header></app-header>
    <!-- searchbar -->
    <ion-row class="ion-justify-content-center">
      <!-- <ion-col size-lg="4">
        <ion-searchbar placeholder="Pretraga" [(ngModel)]="searchText" inputmode="search" class="ion-no-padding"></ion-searchbar>
      </ion-col>
      <ion-col size-lg="1">
        <ion-fab-button size="small" (click)="onSearch()" class="ion-no-padding ion-no-margin">
          <ion-icon name="search-outline"></ion-icon>
        </ion-fab-button>
      </ion-col> -->
    </ion-row>
    
    <!-- MAIN content -->
    <ion-row class="ion-padding-top left-padding ion-justify-content-center">
      <!-- bestsellers -->
      <ion-col size-lg="2" class="ion-justify-content-center">
        <ion-list-header class="ion-no-padding">
          <ion-title class="ion-no-padding">Najprodavaniji naslovi</ion-title>
        </ion-list-header>
        <ion-list class="ion-padding-top">
          <app-bestseller *ngFor="let bestseler of bestsellers" [bestseller]="bestseler"></app-bestseller>
        </ion-list>
      </ion-col>
      <!-- genres list -->
      <ion-col size-lg="2" class="left-padding-genres">
        <ion-list style="padding-top:70px;">
          <ion-item button="true" detail="true" (click)="onAllBooksSelected()">
            <ion-label>Svi naslovi</ion-label>
          </ion-item>
          <ion-item *ngFor="let genre of genres" button="true" detail="true" (click)="onGenreSelected(genre)">
            <ion-label >{{genre.name}}</ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
      <!-- all books -->
      <ion-col size-lg="8">
        <ion-list-header style="padding-left: 328px;">
          <ion-title>Svi naslovi</ion-title>
        </ion-list-header>
        <ion-label *ngIf="books.length === 0">
          Nije pronadjen nijedan naslov.
        </ion-label>
        <div *ngIf="books.length !== 0" class="books-container">
          <app-book-item *ngFor="let book of books | paginate: {itemsPerPage: booksPerPage, currentPage:cp}" [book]="book" [userRole]="userRole"></app-book-item>
        </div>
      </ion-col>
    </ion-row>
    <!-- pagination -->
    <ion-row class="left-padding">
      <ion-col size-lg="2" class="ion-padding">
      </ion-col>
      <ion-col size-lg="10" class="left-padding pagination-row">
        <pagination-controls
        previousLabel="Prethodna"
        nextLabel="Sledeca"
        (pageChange)="cp=$event"
      ></pagination-controls>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
