// ion-col {
//   border: 1px solid blue;
// }

.left-padding {
  padding-left: 50px;
}

.books-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  // align-content: space-between;
}

.paggination-row{
  text-align: center;
}