<!-- <ion-header >
  <ion-toolbar>
    <ion-title>
      Bookstore
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<!-- <ion-content [fullscreen]="true"> -->
<ion-content>
  <ion-grid>
    <!-- HEADING start -->
    <ion-row>
      <ion-col size-lg="12">
        <ion-title>Bookstore</ion-title>
      </ion-col>
    </ion-row>
    <!-- HEADING end -->

    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-searchbar placeholder="Pretraga"></ion-searchbar>
      </ion-col>
    </ion-row>
    
    <!-- MAIN content -->
    <ion-row class="ion-padding-top left-padding">
      <!-- bestsellers -->
      <ion-col size-lg="2" >
        <ion-list-header class="ion-no-padding">
          <ion-title class="ion-no-padding">Najprodavaniji naslovi</ion-title>
        </ion-list-header>
        <ion-list class="ion-padding-top">
          <app-bestseller *ngFor="let bestseler of bestsellers" [bestseller]="bestseler"></app-bestseller>
        </ion-list>
        <!-- all books -->
      </ion-col>
      <ion-col size-lg="10" class="left-padding">
        <ion-list-header>
          <ion-title>Svi naslovi</ion-title>
        </ion-list-header>
        <div class="books-container">
          <app-book-item *ngFor="let book of books | paginate: {itemsPerPage: booksPerPage, currentPage:cp}" [book]="book"></app-book-item>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="left-padding">
      <ion-col size-lg="2" class="ion-padding">
      </ion-col>
      <ion-col size-lg="10" class="left-padding paggination-row">
        <pagination-controls
        previousLabel="Prethodna"
        nextLabel="Sledeca"
        (pageChange)="cp=$event"
      ></pagination-controls>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
