<ion-content>
  <ion-grid>
    <ion-row class="header-row">
      <ion-col size-lg="3" class="ion-text-end">
        <ion-title>Bookstore</ion-title>
      </ion-col>
      <ion-col size-lg="5"></ion-col>
      <ion-col size-lg="4">
        <div class="header-buttons">
          <ion-button color="primary" fill="clear" class="button-clear" [routerLink]="['/', 'home']">
            <ion-icon name="home" slot="start"></ion-icon>
            <ion-label>POCETNA</ion-label>
          </ion-button>
      </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  <form [formGroup]="userDataForm" (ngSubmit)="onSubmit()" class="login-form">
    <ion-grid>  
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="3">
          <ion-item class="register-form-item">
            <ion-label position="floating">Ime:</ion-label>
            <ion-input type="text" formControlName="firstName"></ion-input>
          </ion-item>
          <ion-label class="register-form-item-label" *ngIf="userDataForm.get('firstName').invalid && 
          userDataForm.get('firstName').touched">Morate uneti ime.</ion-label>
        </ion-col>
        <ion-col size-lg="3">
          <ion-item class="register-form-item">
            <ion-label position="floating">Prezime:</ion-label>
            <ion-input type="text" formControlName="lastName"></ion-input>
          </ion-item>
          <ion-label class="register-form-item-label" *ngIf="userDataForm.get('lastName').invalid && 
          userDataForm.get('lastName').touched">Morate uneti prezime.</ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="3">
          <ion-item class="register-form-item">
            <ion-label position="floating">Ulica i broj:</ion-label>
            <ion-input type="text" formControlName="streetAndNo"></ion-input>
          </ion-item>
          <ion-label class="register-form-item-label" *ngIf="userDataForm.get('streetAndNo').invalid && 
          userDataForm.get('streetAndNo').touched">Morate uneti ulicu i broj.</ion-label>
        </ion-col>
        <ion-col size-lg="3">
          <ion-item class="register-form-item">
            <ion-label position="floating">Opstina:</ion-label>
            <ion-input type="text" formControlName="city"></ion-input>
          </ion-item>
          <ion-label class="register-form-item-label" *ngIf="userDataForm.get('city').invalid && 
          userDataForm.get('city').touched">Morate uneti naziv opstine.</ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="3">
          <ion-item class="register-form-item">
            <ion-label position="floating">Postanski broj:</ion-label>
            <ion-input type="text" formControlName="zipCode"></ion-input>
          </ion-item>
          <ion-label class="register-form-item-label" *ngIf="userDataForm.get('zipCode').invalid && 
          userDataForm.get('zipCode').touched">Morate uneti postanski broj grada.</ion-label>
        </ion-col>
        <ion-col size-lg="3">
          <ion-item class="register-form-item">
            <ion-label position="floating">Telefon:</ion-label>
            <ion-input type="text" formControlName="phone"></ion-input>
          </ion-item>
          <ion-label class="register-form-item-label" *ngIf="userDataForm.get('phone').invalid && 
          userDataForm.get('phone').touched">Morate uneti broj telefona.</ion-label>
        </ion-col>
      </ion-row>
  
      <ion-row class="ion-justify-content-center">
        <ion-col size-lg="3">
          <div class="register-form-item" style="text-align: center;">
            <ion-button type="submit" [disabled]="userDataForm.invalid">
              <ion-label>Potvrdi</ion-label>
            </ion-button>
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  
  
</ion-content>
