ion-col {
  border: 1px solid blue;
}

.cart {
  font-size: 28px;
}

.searchbar-col {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-icon{
  width: 20px;
  height: 20px;
}

ion-fab-button{
  width: 30px;
  height: 30px;
}
