<ion-content>
  <ion-grid>
    <ion-row class="header-row">
      <ion-col size-lg="2">
        <ion-title>Bookstore</ion-title>
      </ion-col>
      <ion-col size-lg="7"></ion-col>
      <ion-col size-lg="3">
        <div class="header-buttons">
          <ion-chip color="primary" [routerLink]="['/', 'home']">
            <ion-icon name="home"></ion-icon>
            <ion-label>POCETNA</ion-label>
          </ion-chip>
          <ion-chip *ngIf="isAuthenticated" color="primary" (click)="onLogout()">
            <ion-icon name="person"></ion-icon>
            <ion-label>ODJAVI SE</ion-label>
          </ion-chip>
      </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-justify-content-center">
      <ion-col size-lg="6">
        <ion-segment [(ngModel)]="segment">
          <ion-segment-button value="login"> Prijava </ion-segment-button>
          <ion-segment-button value="register">
            Registracija
          </ion-segment-button>
        </ion-segment>
        <div class="segment-content" [ngSwitch]="segment">
          <app-login-form *ngSwitchCase="'login'"></app-login-form>
          <app-register-form *ngSwitchCase="'register'"></app-register-form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
