<ion-row class="header ion-justify-content-center ion-align-items-center">
  <ion-col size-lg="2" class="ion-text-start ion-no-padding ion-align-self-center">
    <ion-title class="logo ion-no-padding" color="light">Bookstore</ion-title>
  </ion-col>
  <ion-col size-lg="4"></ion-col>
  <ion-col size-lg="5" class="ion-no-padding">
    <div class="header-buttons">
      <ion-button color="light" fill="clear" class="button-clear" [routerLink]="['/', 'home']">
        <ion-icon name="home" slot="start"></ion-icon>
        <ion-label>POČETNA</ion-label>
      </ion-button>
      <ion-button color="light" fill="clear" class="button-clear" [routerLink]="['/', 'orders']">
        <ion-icon name="library" slot="start"></ion-icon>
        <ion-label>PORUDŽBINE</ion-label>
      </ion-button>
      <ion-button color="light" fill="clear" class="button-clear" (click)="onLogout()">
        <ion-icon name="person" slot="start"></ion-icon>
        <ion-label>ODJAVI SE</ion-label>
      </ion-button>
  </div>
  </ion-col>
</ion-row>

