table {
  table-layout: fixed;
  width: 100%;
  font-size: 11pt;
}

th,
td {
  text-align: center;
  padding: 8px !important;
}

.table td {
  vertical-align: middle;
}

.book-img ion-img {
  width: 80px;
  margin: auto;
  display: block;
}
